$box-shadow-default:  0 1px 6px 0 rgba(86, 176, 218, 0.7);
$box-shadow-error: 0 1px 6px 0 red;

$color_background: #9FA4C4;
$color-text: #000;
$color-underline: rgb(139, 15, 15);
$color-btn: rgb(32, 139, 122);
$color-white: #fff;

$transition: .15s ease-in-out;